@import '_style.scss';

.footer {
  @include flex(center);
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: $main-color;
  gap: 10px;
  .footer-link {
    width: 185px;
    @include flex(space-between);
    align-items: inherit;
    background-color: inherit;
    img {
      background-color: inherit;
      width: 26px;
    }
    a {
      background-color: inherit;
    }
  }
  .footer-year {
    p {
      background-color: $main-color;
    }
  }
}
